# ARGS AND KWARGS

In [5]:
def test_kwargs(**kwargs):
    return kwargs   # a dictionary

In [6]:
test_kwargs (name = 'thomas', age = 25)

{'name': 'thomas', 'age': 25}

In [11]:
def test_args(*args):
    return args  # return a tuple

In [12]:
test_args(23,2,3,'thomas')

(23, 2, 3, 'thomas')

# Lambda function

In [15]:
def test1(name, age):
    return age, name 


test1('thoma', 23)

(23, 'thoma')

In [16]:
a = 123
b = 23
def testadd(x,y):
    return x+y

In [17]:
testadd(23,1)

24

In [23]:
# doing the same using lambda function 
m = lambda x,y : x+y   # function without a  name 

# here lambda is predefined key word in python not a function

In [24]:
m(a,b)   # here m is a variable

146

In [28]:
# scope of the variable

r = 12 

def test3(a,b):
    r = a+b 
    return r 
test3(10,10)
print(r)

12

In [35]:
## docstring function 

def test4():
    """
    this is my doc string for this function 
    """
    print('my_function')

In [37]:
help(test4)

Help on function test4 in module __main__:

test4()
    this is my doc string for this function

In [43]:
import pandas as pd 
help(pd)

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, date shifting and lagging.

PACKAGE CONTENTS
    _config (package)
    _libs (package)
    _testing
    _typing
    _version
    api (package)
    arrays (package)
    compat (package)
    conftest
    core (package)
    errors (package)
    io (package)
    plotting (package)
    testing
    tests (package)
    tseries (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

FUNCTIONS
    __getattr__(name)
        # GH 27101

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NA = <NA>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    __git_version__ = '2cb96529396d93b46abab7bbc73a208e708c642e'
    describe_option = <pandas._config.config.CallableDynamicDoc object>
    get_option = <pandas._config.config.CallableDynamicDoc object>
    options = <pandas._config.config.DictWrapper object>
    reset_option = <pandas._config.config.CallableDynamicDoc object>
    set_option = <pandas._config.config.CallableDynamicDoc object>

VERSION
    1.2.4

FILE
    /home/thomas/anaconda3/lib/python3.8/site-packages/pandas/__init__.py

# Iterator and iterable

In [46]:
a = 5 
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [47]:
for i in 'thomas':
    print(i)

t
h
o
m
a
s

In [50]:
a = 'thomas'
next(a)

TypeError: 'str' object is not an iterator

In [52]:
# iterable and iterator 

## int is not iterable
## stirng is not iterator

By default string is not and  iterator but it is an iterable object. 
if an object is iterable we can convert it into iterable

In [64]:
name = 'thomas'

# converting string into an iterator 
s = iter(name)

In [63]:
next(s)

't'

In [69]:
name = 'thomas'
it = iter(name)
next(it)

't'

In [70]:
next(it)

'h'

In [71]:
for i in 'thomas':
    print(i)

t
h
o
m
a
s

In [73]:
# creating a list and make it as an iterator 
l = [2,'a','3']  # list is iterable not an iterator 
next(l)

TypeError: 'list' object is not an iterator

In [74]:
# list is not an iterator

In [76]:
t = (2,3,1,4)
t = iter(t)
next(t)

2

# Generator

In [82]:
def test_func(n):
    l = []
    for i in range(n):
        l.append(i**2)
    return l

In [83]:
test_func(4)

[0, 1, 4, 9]