In [25]:
import pymongo

## Creating the connection

In [26]:
client_cloud = pymongo.MongoClient("mongodb+srv://mongopass:mongopass@mymongocluster0.50qf7.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
client_cloud

MongoClient(host=['mymongocluster0-shard-00-00.50qf7.mongodb.net:27017', 'mymongocluster0-shard-00-01.50qf7.mongodb.net:27017', 'mymongocluster0-shard-00-02.50qf7.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-dcf3l5-shard-0', ssl=True)

In [29]:
client_local = pymongo.MongoClient("mongodb://localhost:27017")
client_local

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

## Creating database

In [31]:
client_db1 = client_cloud['mydb']

## Getting database names

In [28]:
client_cloud.list_database_names()

['admin', 'local']

In [30]:
client_local.list_database_names()

['admin', 'config', 'local', 'mydb1']

## adding a collection

In [32]:
# adding collection 
collection = client_db1["company"]

## Inserting records

In [33]:
record = {
    "companyName" :"ineuron",
    "product" :"visual detector",
    "courses_offered":['data science', 'statistics']
}
collection.insert_one(record)

In [34]:
record = {
    "companyName" :"tocco",
    "product" :"plotly",
    "courses_offered":['mathematics', 'artificial intelligence'],
    "rating": 5.3,
    "contact":{
            "email":'tocco@gmail.com',
            'phone no ': 242394283840242
            }
}
collection.insert_one(record)

In [55]:
# new collection : student 
st_collection = client_db1["student"]

In [56]:
st_collection.insert_one({
     "name" : "thomas", 
     "major" : "Data science" , 
     "phone_number": 9562348638, 
     "gpa" : 9.12
     })

In [57]:
st_collection.insert_one({
    "name":"CLaire", 
    "major" : "Machine learning", 
    "gpa" : 9.49
})

In [58]:
st_collection.insert_one({
    "name" : 'Maria', 
    "gpa" : 8.43, 
    "awards" : ["hackathone", "basel jhons", "summa cum laude"], 
     })

In [59]:
st_collection.insert_one({ "_id" : 4, 
    "name" : 'martin',  "gpa" : 9.45,  
    "email" : "marting23@gmail.com",  
    "marks": [23,1,2,13,324,53] 
})

In [60]:
st_collection.insert_one({ 
    "name":"Antony", 
    "major" : "Analytics", 
    "gpa" : 8.49,
    "awards" : ["hackathone","Summa cum laude"]
})

In [61]:
st_collection.insert_one({
    "name":"Kate", 
    "major" : "Sociology", 
    "gpa" : 8.49,
    "contact" :{"phone":"9562348628", "email":"kateste123@gmail.com"}, 

})

In [62]:
st_collection.insert_one({
    "name" : "phill", 
    "age" :23, 
    "gpa" : 8.53, 
    "startdate" : "2021-08-12" 
})

In [63]:
st_collection.insert_many([
    {"name":"able", "major": "mathematics", "gpa" : 4.5}, 
    {"name": "andrea", "major" : "Statistics", "gpa" : 8.9, "contact" : {"email": "andreath@gmail.com"}}
])

## INserting bulk file

## Quering

In [65]:
st_collection.find_one()

{'_id': ObjectId('60f525454bed910495386894'),
 'name': 'thomas',
 'major': 'Data science',
 'phone_number': 9562348638,
 'gpa': 9.12}

In [68]:
collection.find_one()

{'_id': ObjectId('60f521bb4bed910495386882'),
 'companyName': 'ineuron',
 'product': 'visual detector',
 'courses_offered': ['data science', 'statistics']}

In [74]:
for i in collection.find():
    print(i )

{'_id': ObjectId('60f521bb4bed910495386882'), 'companyName': 'ineuron', 'product': 'visual detector', 'courses_offered': ['data science', 'statistics']}
{'_id': ObjectId('60f521c04bed910495386883'), 'companyName': 'tocco', 'product': 'plotly', 'courses_offered': ['mathematics', 'artificial intelligence'], 'rating': 5.3, 'contact': {'email': 'tocco@gmail.com', 'phone no ': 242394283840242}}

In [76]:
for i in collection.find({"companyName":'ineuron'}):
    print(i)

{'_id': ObjectId('60f521bb4bed910495386882'), 'companyName': 'ineuron', 'product': 'visual detector', 'courses_offered': ['data science', 'statistics']}

In [78]:
list(collection.find({'companyName':'ineuron'}))

[{'_id': ObjectId('60f521bb4bed910495386882'),
  'companyName': 'ineuron',
  'product': 'visual detector',
  'courses_offered': ['data science', 'statistics']}]

In [86]:
#finding students with gpa greater than gpa 9
list(st_collection.find({"gpa": {"$gt" :9 }},{"_id":0}))

[{'name': 'thomas',
  'major': 'Data science',
  'phone_number': 9562348638,
  'gpa': 9.12},
 {'name': 'CLaire', 'major': 'Machine learning', 'gpa': 9.49},
 {'name': 'martin',
  'gpa': 9.45,
  'email': 'marting23@gmail.com',
  'marks': [23, 1, 2, 13, 324, 53]}]

## Delete Operation

In [90]:
delete_query = {'name':'CLaire'} 
st_collection.delete_one(delete_query)

In [91]:
multi_deletes = {"gpa": {"$gt" :9 }}
st_collection.delete_many(multi_deletes)

In [92]:
# trying to get the students with gpa greater than gpa 9 
# wont get any result 
list(st_collection.find({"gpa": {"$gt" :9 }},{"_id":0}))

[]

In [93]:
st_collection.find_one()

{'_id': ObjectId('60f525454bed910495386896'),
 'name': 'Maria',
 'gpa': 8.43,
 'awards': ['hackathone', 'basel jhons', 'summa cum laude']}

In [94]:
# enumerate all the documents in student collection 
all_st_docs = st_collection.find()
for idx,document in enumerate(all_st_docs):
    print(f"{document}\n")

{'_id': ObjectId('60f525454bed910495386896'), 'name': 'Maria', 'gpa': 8.43, 'awards': ['hackathone', 'basel jhons', 'summa cum laude']}

{'_id': ObjectId('60f525464bed910495386897'), 'name': 'Antony', 'major': 'Analytics', 'gpa': 8.49, 'awards': ['hackathone', 'Summa cum laude']}

{'_id': ObjectId('60f525474bed910495386898'), 'name': 'Kate', 'major': 'Sociology', 'gpa': 8.49, 'contact': {'phone': '9562348628', 'email': 'kateste123@gmail.com'}}

{'_id': ObjectId('60f525474bed910495386899'), 'name': 'phill', 'age': 23, 'gpa': 8.53, 'startdate': '2021-08-12'}

{'_id': ObjectId('60f525474bed91049538689a'), 'name': 'able', 'major': 'mathematics', 'gpa': 4.5}

{'_id': ObjectId('60f525474bed91049538689b'), 'name': 'andrea', 'major': 'Statistics', 'gpa': 8.9, 'contact': {'email': 'andreath@gmail.com'}}

## Droping the collection

In [96]:
# here the collection name refers to the company collection 
collection.drop()

# now we have only student collection in the mydb database

In [105]:
# verifying the collection 
collection_name = 'student'
db_name = 'mydb'
client_db1.list_collection_names()

['student']

## Update operation

In [106]:
present_data = {'name':'able'}
new_data = {"$set":{'name':'Thomaskutty reji'}}
st_collection.update(present_data, new_data)

<ipython-input-106-7c18e4f8e04e>:3: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  st_collection.update(present_data, new_data)

{'n': 1,
 'nModified': 1,
 'opTime': {'ts': Timestamp(1626681574, 1), 't': 88},
 'electionId': ObjectId('7fffffff0000000000000058'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1626681574, 1),
  'signature': {'hash': b'\xde\x1c<\xb1\xc1\xb6\xed\xfa\xf1?4\xa0\xd2\xea+\x99\xb7V\xe8\x96',
   'keyId': 6932185264236265473}},
 'operationTime': Timestamp(1626681574, 1),
 'updatedExisting': True}

In [108]:
# enumerate all the documents again in student collection 
# can see that the name "able" is changed to "Thomaskutty reji" 
all_st_docs = st_collection.find()
for idx,document in enumerate(all_st_docs):
    print(f"{document}\n")

{'_id': ObjectId('60f525454bed910495386896'), 'name': 'Maria', 'gpa': 8.43, 'awards': ['hackathone', 'basel jhons', 'summa cum laude']}

{'_id': ObjectId('60f525464bed910495386897'), 'name': 'Antony', 'major': 'Analytics', 'gpa': 8.49, 'awards': ['hackathone', 'Summa cum laude']}

{'_id': ObjectId('60f525474bed910495386898'), 'name': 'Kate', 'major': 'Sociology', 'gpa': 8.49, 'contact': {'phone': '9562348628', 'email': 'kateste123@gmail.com'}}

{'_id': ObjectId('60f525474bed910495386899'), 'name': 'phill', 'age': 23, 'gpa': 8.53, 'startdate': '2021-08-12'}

{'_id': ObjectId('60f525474bed91049538689a'), 'name': 'Thomaskutty reji', 'major': 'mathematics', 'gpa': 4.5}

{'_id': ObjectId('60f525474bed91049538689b'), 'name': 'andrea', 'major': 'Statistics', 'gpa': 8.9, 'contact': {'email': 'andreath@gmail.com'}}