In [1]:
import pymongo

## Creating the connection

In [84]:
client_cloud = pymongo.MongoClient('mongodb+srv://mongopass:mongopass@mymongocluster0.50qf7.mongodb.net/myFirstDatabase?retryWrites=true&w=majority')
client_cloud

MongoClient(host=['mymongocluster0-shard-00-02.50qf7.mongodb.net:27017', 'mymongocluster0-shard-00-00.50qf7.mongodb.net:27017', 'mymongocluster0-shard-00-01.50qf7.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-dcf3l5-shard-0', ssl=True)

In [29]:
client_local = pymongo.MongoClient("mongodb://localhost:27017")
client_local

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

## Creating database

In [85]:
client_db1 = client_cloud['mydb']

## Getting database names

In [86]:
client_cloud.list_database_names()

['mydb', 'admin', 'local']

In [30]:
client_local.list_database_names()

['admin', 'config', 'local', 'mydb1']

## adding a collection

In [87]:
# adding collection 
collection = client_db1["company"]

## Inserting records

In [88]:
record = {
    "companyName" :"ineuron",
    "product" :"visual detector",
    "courses_offered":['data science', 'statistics']
}
collection.insert_one(record)

In [89]:
record = {
    "companyName" :"tocco",
    "product" :"plotly",
    "courses_offered":['mathematics', 'artificial intelligence'],
    "rating": 5.3,
    "contact":{
            "email":'tocco@gmail.com',
            'phone no ': 242394283840242
            }
}
collection.insert_one(record)

In [90]:
# new collection : student 
st_collection = client_db1["student"]

In [91]:
st_collection.insert_one({
     "name" : "thomas", 
     "major" : "Data science" , 
     "phone_number": 9562348638, 
     "gpa" : 9.12
     })

In [92]:
st_collection.insert_one({
    "name":"CLaire", 
    "major" : "Machine learning", 
    "gpa" : 9.49
})

In [93]:
st_collection.insert_one({
    "name" : 'Maria', 
    "gpa" : 8.43, 
    "awards" : ["hackathone", "basel jhons", "summa cum laude"], 
     })

In [94]:
st_collection.insert_one({ "_id" : 4, 
    "name" : 'martin',  "gpa" : 9.45,  
    "email" : "marting23@gmail.com",  
    "marks": [23,1,2,13,324,53] 
})

In [95]:
st_collection.insert_one({ 
    "name":"Antony", 
    "major" : "Analytics", 
    "gpa" : 8.49,
    "awards" : ["hackathone","Summa cum laude"]
})

In [96]:
st_collection.insert_one({
    "name":"Kate", 
    "major" : "Sociology", 
    "gpa" : 8.49,
    "contact" :{"phone":"9562348628", "email":"kateste123@gmail.com"}, 

})

In [97]:
st_collection.insert_one({
    "name" : "phill", 
    "age" :23, 
    "gpa" : 8.53, 
    "startdate" : "2021-08-12" 
})

In [63]:
st_collection.insert_many([
    {"name":"able", "major": "mathematics", "gpa" : 4.5}, 
    {"name": "andrea", "major" : "Statistics", "gpa" : 8.9, "contact" : {"email": "andreath@gmail.com"}}
])

## Inserting bulk data : assignement

## Quering

In [98]:
st_collection.find_one()

{'_id': ObjectId('60f525454bed910495386896'),
 'name': 'Maria',
 'gpa': 8.43,
 'awards': ['hackathone', 'basel jhons', 'summa cum laude']}

In [99]:
collection.find_one()

{'_id': ObjectId('60fbd1c7b040d8b54d20f159'),
 'companyName': 'ineuron',
 'product': 'visual detector',
 'courses_offered': ['data science', 'statistics']}

In [100]:
for i in collection.find():
    print(i )

{'_id': ObjectId('60fbd1c7b040d8b54d20f159'), 'companyName': 'ineuron', 'product': 'visual detector', 'courses_offered': ['data science', 'statistics']}
{'_id': ObjectId('60fbd1ccb040d8b54d20f15a'), 'companyName': 'tocco', 'product': 'plotly', 'courses_offered': ['mathematics', 'artificial intelligence'], 'rating': 5.3, 'contact': {'email': 'tocco@gmail.com', 'phone no ': 242394283840242}}

In [76]:
for i in collection.find({"companyName":'ineuron'}):
    print(i)

{'_id': ObjectId('60f521bb4bed910495386882'), 'companyName': 'ineuron', 'product': 'visual detector', 'courses_offered': ['data science', 'statistics']}

In [78]:
list(collection.find({'companyName':'ineuron'}))

[{'_id': ObjectId('60f521bb4bed910495386882'),
  'companyName': 'ineuron',
  'product': 'visual detector',
  'courses_offered': ['data science', 'statistics']}]

In [86]:
#finding students with gpa greater than gpa 9
list(st_collection.find({"gpa": {"$gt" :9 }},{"_id":0}))

[{'name': 'thomas',
  'major': 'Data science',
  'phone_number': 9562348638,
  'gpa': 9.12},
 {'name': 'CLaire', 'major': 'Machine learning', 'gpa': 9.49},
 {'name': 'martin',
  'gpa': 9.45,
  'email': 'marting23@gmail.com',
  'marks': [23, 1, 2, 13, 324, 53]}]

## Delete Operation

In [90]:
delete_query = {'name':'CLaire'} 
st_collection.delete_one(delete_query)

In [91]:
multi_deletes = {"gpa": {"$gt" :9 }}
st_collection.delete_many(multi_deletes)

In [92]:
# trying to get the students with gpa greater than gpa 9 
# wont get any result 
list(st_collection.find({"gpa": {"$gt" :9 }},{"_id":0}))

[]

In [93]:
st_collection.find_one()

{'_id': ObjectId('60f525454bed910495386896'),
 'name': 'Maria',
 'gpa': 8.43,
 'awards': ['hackathone', 'basel jhons', 'summa cum laude']}

In [94]:
# enumerate all the documents in student collection 
all_st_docs = st_collection.find()
for idx,document in enumerate(all_st_docs):
    print(f"{document}\n")

{'_id': ObjectId('60f525454bed910495386896'), 'name': 'Maria', 'gpa': 8.43, 'awards': ['hackathone', 'basel jhons', 'summa cum laude']}

{'_id': ObjectId('60f525464bed910495386897'), 'name': 'Antony', 'major': 'Analytics', 'gpa': 8.49, 'awards': ['hackathone', 'Summa cum laude']}

{'_id': ObjectId('60f525474bed910495386898'), 'name': 'Kate', 'major': 'Sociology', 'gpa': 8.49, 'contact': {'phone': '9562348628', 'email': 'kateste123@gmail.com'}}

{'_id': ObjectId('60f525474bed910495386899'), 'name': 'phill', 'age': 23, 'gpa': 8.53, 'startdate': '2021-08-12'}

{'_id': ObjectId('60f525474bed91049538689a'), 'name': 'able', 'major': 'mathematics', 'gpa': 4.5}

{'_id': ObjectId('60f525474bed91049538689b'), 'name': 'andrea', 'major': 'Statistics', 'gpa': 8.9, 'contact': {'email': 'andreath@gmail.com'}}

## Droping the collection

In [96]:
# here the collection name refers to the company collection 
collection.drop()

# now we have only student collection in the mydb database

In [105]:
# verifying the collection 
collection_name = 'student'
db_name = 'mydb'
client_db1.list_collection_names()

['student']

## Update operation

In [106]:
present_data = {'name':'able'}
new_data = {"$set":{'name':'Thomaskutty reji'}}
st_collection.update(present_data, new_data)

<ipython-input-106-7c18e4f8e04e>:3: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  st_collection.update(present_data, new_data)

{'n': 1,
 'nModified': 1,
 'opTime': {'ts': Timestamp(1626681574, 1), 't': 88},
 'electionId': ObjectId('7fffffff0000000000000058'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1626681574, 1),
  'signature': {'hash': b'\xde\x1c<\xb1\xc1\xb6\xed\xfa\xf1?4\xa0\xd2\xea+\x99\xb7V\xe8\x96',
   'keyId': 6932185264236265473}},
 'operationTime': Timestamp(1626681574, 1),
 'updatedExisting': True}

In [108]:
# enumerate all the documents again in student collection 
# can see that the name "able" is changed to "Thomaskutty reji" 
all_st_docs = st_collection.find()
for idx,document in enumerate(all_st_docs):
    print(f"{document}\n")

{'_id': ObjectId('60f525454bed910495386896'), 'name': 'Maria', 'gpa': 8.43, 'awards': ['hackathone', 'basel jhons', 'summa cum laude']}

{'_id': ObjectId('60f525464bed910495386897'), 'name': 'Antony', 'major': 'Analytics', 'gpa': 8.49, 'awards': ['hackathone', 'Summa cum laude']}

{'_id': ObjectId('60f525474bed910495386898'), 'name': 'Kate', 'major': 'Sociology', 'gpa': 8.49, 'contact': {'phone': '9562348628', 'email': 'kateste123@gmail.com'}}

{'_id': ObjectId('60f525474bed910495386899'), 'name': 'phill', 'age': 23, 'gpa': 8.53, 'startdate': '2021-08-12'}

{'_id': ObjectId('60f525474bed91049538689a'), 'name': 'Thomaskutty reji', 'major': 'mathematics', 'gpa': 4.5}

{'_id': ObjectId('60f525474bed91049538689b'), 'name': 'andrea', 'major': 'Statistics', 'gpa': 8.9, 'contact': {'email': 'andreath@gmail.com'}}

# classes and object for mongodb

In [117]:
# creating class and object for mongodb connection 
import pymongo
class MongoConnection:
    # getting the client url 
    def __init__(self,client):
        self.client=client
        self.conn = pymongo.MongoClient(self.client) 
    # creating a database 
    def create_db(self,newdb_name):
        self.conn[newdb_name]
        
    # getting the available databases for this mongo db connection     
    def get_db(self):
        databases = self.conn.list_database_names()
        return databases

class dbConnection():
    # get a particular db inside mongo connection 
    def __init__(self,client,db_name):
        self.conn = pymongo.MongoClient(client)
        self.db = self.conn[db_name]
    
    def get_collections(self):
        return self.db.list_collection_names()
    
    
    # adding a new collection into db
    def add_collection(self,collection_name):
        collection = self.db[collection_name]
        print(f'created {collection_name} collection')
        
    # delete a particular collection 
    def delete_collection(self,collection_name):
        self.db[collection_name].drop()
        print(f'{collection_name} dropped') 
    
    # insert one record into a collection 
    def insert_one(self,collection_name,record):
        self.db[collection_name].insert_one(record)
    
    # deleting one record 
    def delete_single(self, colllection_name, condition):
        self.db[collection_name].delete_one(condition) 
    
    # delete many 
    def delete_mulitple(self,collection_name, condition):
        self.db[collection_name].delete_many(condition)
    
    # update_collection 
    def update(self,collection_name,old_data, new_data):
        self.db[collection_name].update(old_data, new_data)
    
    def get_one(self,collection_name):
        return self.db[collection_name].find_one()
    
    def get(self, collection_name,statement):
        '''statement should be in json'''
        return self.db[collection_name].find(statement)
    def getall(self,collection_name):
        return self.db[collection_name].find()

## testing the class and object code

In [104]:
mdb_conn = MongoConnection(client = 'mongodb+srv://mongopass:mongopass@mymongocluster0.50qf7.mongodb.net/myFirstDatabase?retryWrites=true&w=majority')

In [105]:
mdb_conn.get_db()  # getting the available databases

['mydb', 'admin', 'local']

In [118]:
mydb_conn = dbConnection(client = 'mongodb+srv://mongopass:mongopass@mymongocluster0.50qf7.mongodb.net/myFirstDatabase?retryWrites=true&w=majority',
                         db_name = 'mydb')  # created a database connection

In [107]:
mydb_conn

In [108]:
mydb_conn.get_collections()

['company', 'student']

In [109]:
mydb_conn.add_collection('sales')

created sales collection

In [110]:
record = {
    "companyName" :"ineuron",
    "product" :"visual detector",
    "courses_offered":['data science', 'statistics']
}
mydb_conn.insert_one('sales',record)

In [111]:
mydb_conn.get_collections()

['company', 'sales', 'student']

In [112]:
mydb_conn.delete_collection('sales')

sales dropped

In [113]:
mydb_conn.get_one('student')

{'_id': ObjectId('60f525454bed910495386896'),
 'name': 'Maria',
 'gpa': 8.43,
 'awards': ['hackathone', 'basel jhons', 'summa cum laude']}

In [120]:
for i in mydb_conn.getall(collection_name = 'student'):
    print(i)

{'_id': ObjectId('60f525454bed910495386896'), 'name': 'Maria', 'gpa': 8.43, 'awards': ['hackathone', 'basel jhons', 'summa cum laude']}
{'_id': ObjectId('60f525464bed910495386897'), 'name': 'Antony', 'major': 'Analytics', 'gpa': 8.49, 'awards': ['hackathone', 'Summa cum laude']}
{'_id': ObjectId('60f525474bed910495386898'), 'name': 'Kate', 'major': 'Sociology', 'gpa': 8.49, 'contact': {'phone': '9562348628', 'email': 'kateste123@gmail.com'}}
{'_id': ObjectId('60f525474bed910495386899'), 'name': 'phill', 'age': 23, 'gpa': 8.53, 'startdate': '2021-08-12'}
{'_id': ObjectId('60f525474bed91049538689a'), 'name': 'Thomaskutty reji', 'major': 'mathematics', 'gpa': 4.5}
{'_id': ObjectId('60f525474bed91049538689b'), 'name': 'andrea', 'major': 'Statistics', 'gpa': 8.9, 'contact': {'email': 'andreath@gmail.com'}}
{'_id': ObjectId('60fbd1d5b040d8b54d20f15b'), 'name': 'thomas', 'major': 'Data science', 'phone_number': 9562348638, 'gpa': 9.12}
{'_id': ObjectId('60fbd1d5b040d8b54d20f15c'), 'name': 'CLaire', 'major': 'Machine learning', 'gpa': 9.49}
{'_id': ObjectId('60fbd1d7b040d8b54d20f15d'), 'name': 'Maria', 'gpa': 8.43, 'awards': ['hackathone', 'basel jhons', 'summa cum laude']}
{'_id': 4, 'name': 'martin', 'gpa': 9.45, 'email': 'marting23@gmail.com', 'marks': [23, 1, 2, 13, 324, 53]}
{'_id': ObjectId('60fbd1d9b040d8b54d20f15e'), 'name': 'Antony', 'major': 'Analytics', 'gpa': 8.49, 'awards': ['hackathone', 'Summa cum laude']}
{'_id': ObjectId('60fbd1dab040d8b54d20f15f'), 'name': 'Kate', 'major': 'Sociology', 'gpa': 8.49, 'contact': {'phone': '9562348628', 'email': 'kateste123@gmail.com'}}
{'_id': ObjectId('60fbd1dbb040d8b54d20f160'), 'name': 'phill', 'age': 23, 'gpa': 8.53, 'startdate': '2021-08-12'}

In [124]:
for i in mydb_conn.get(collection_name = 'student',statement = {"name":'Maria'}):
    print(i)

{'_id': ObjectId('60f525454bed910495386896'), 'name': 'Maria', 'gpa': 8.43, 'awards': ['hackathone', 'basel jhons', 'summa cum laude']}
{'_id': ObjectId('60fbd1d7b040d8b54d20f15d'), 'name': 'Maria', 'gpa': 8.43, 'awards': ['hackathone', 'basel jhons', 'summa cum laude']}

In [128]:
for i in mydb_conn.get(collection_name = 'student',statement ={"gpa": {"$gt" :9 }}):
    print(i)

{'_id': ObjectId('60fbd1d5b040d8b54d20f15b'), 'name': 'thomas', 'major': 'Data science', 'phone_number': 9562348638, 'gpa': 9.12}
{'_id': ObjectId('60fbd1d5b040d8b54d20f15c'), 'name': 'CLaire', 'major': 'Machine learning', 'gpa': 9.49}
{'_id': 4, 'name': 'martin', 'gpa': 9.45, 'email': 'marting23@gmail.com', 'marks': [23, 1, 2, 13, 324, 53]}